<h4>评论管理</h4>
<div class="content">
	<div class="admin-artlist">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Site</th>
					<th>Date</th>
					<th>Content</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach ($comments as $item) { ?>
				<tr>
					<td align="center"><?php echo $item["name"]; ?></td>
					<td align="center"><?php echo $item["email"]; ?></td>
					<td><?php echo $item["site"]; ?></td>
					<td align="center"><?php echo substr($item["c_time"], 0, 10); ?></td>
					<td><?php echo $blogInfo->clip_text($item["content"],40); ?></td>
					<td align="center">
						<a href="/index.php/ad_edit_comment/<?php echo $item['id']?>">编辑</a>
						<a href="/index.php/ad_delete_comment/<?php echo $item['id']?>">删除</a>
					</td>
				</tr>
				<?php } ?>
			</tbody>
		</table>
	</div>
</div>