<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Shaman blog - 管理后台</title>
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
<link rel="shortcut icon" href="/favicon.ico">
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/admin.js"></script>
</head>
<body>
	<div class="admin-menu" id="admin-menu">
		<a href="/" class="home">返回博客</a><a href="/index.php/ad_article">文章</a>|<a href="/index.php/ad_comment">评论</a>|<a href="/index.php/ad_flink">友情链接</a>|<a href="http://open.denglu.cc/" target="_blank">留言</a>
	</div>
	<div class="box">
		<div class="page" id="page">
		</div>
	</div>
</body>
</html>