<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<title>Shaman blog - 管理后台登录</title>
<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
<link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
	<div class="login">
		<form action="ad_login" method="post">
			<table>
				<tr>
					<td align="right"><label>admin:</label></td>
					<td><input type="text" name="admin"></td>
				</tr>
				<tr>
					<td align="right"><label>password:</label></td>
					<td><input type="password" name="pwd"></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><input type="submit" value="Login"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>